       *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .grid-container{
            height: 100vh;
            width: 100%;
            padding: 10%;
            background-color: #121212;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
        }
        .grid-item{
            background-color: grey;
            border: 1px solid white;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:30px;
        }
        form{
            width: 100%;
            height: 100%;
            display:flex;
            flex-direction: column;
            gap: 10px;
            justify-content:center;
            align-items:center; 
        }